/* navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.6rem;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
@media (min-width: 768px) {
    .nav {
    display: flex;
    align-items: center;
    }
}
@media (min-width: 900px) {
    .header__logo {
        flex-basis: auto;
    }

}
@media (min-width: 1110px) {
    .nav__list {
        gap: 3rem;
    }
}

.nav a {
    text-decoration: none;
    color: var(--blue-900);
}

.nav a:hover,
.nav a:focus {
    text-decoration: underline;
    color: var(--blue-400);
}

/* intro */

.intro {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.intro h2 {
    font-size: var(--fs-heading-primary);
    margin-bottom: 1.6rem;
}

.intro p {
    margin-bottom: 2.2rem;
}

.intro .btn--primary {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .intro {
        flex-direction: row;
        text-align: left;
    }
    
    .intro__text {
        flex-basis: 50%;
    }
    .intro__text h2, .intro__text p {
        width: 60%;
    }
    .intro__imgs {
        flex-basis: 50%;
    }
}

/* about */

.about {
    margin-top: 6rem;
}

.about h3 {
    font-size: var(--fs-heading-primary);
    margin-bottom: 2rem;
}

.about__heading {
    text-align: center;
    margin-bottom: 6rem;
}

.about__number {
    padding: .8rem 2.2rem;
    font-weight: 700;
    border-radius: 10rem;
    color: #fff;
    background-color: var(--red-400);
}

.about__card {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.about__text {
    padding: 3rem 0;
}

.about__title {
    padding-left: 1rem;
}

.about__header {
    display: flex;
    align-items: center;
    border-radius: 10rem 0 0 10rem;
    background-color: var(--red-100);
    width: 100%;
    margin-left: 2.2rem;
}

@media (min-width: 768px) {
    .about {
        max-width: clamp(760px, 80%, 1200px);
        margin: 0 auto;
    }
    .about__heading {
        text-align: left;
    }
    .about__heading p {
        width: 70%;
    }
    .about__card {
        /* flex-direction: row; */
    }
}


.opinions {
    text-align: center;
}

.opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    gap: 2rem;
}

.opinion img {
    width: 20%;
}

.opinions__bullets {
    /* margin: 2rem 0; */
    bottom: -1rem !important;
}

.opinions__btn {
    margin-top: 3rem;
}

/* reminder */

.reminder {
    text-align: center;
    margin-top: 5rem;
    padding: 5rem 0;
    background-color: var(--red-400);
}

.reminder h2 {
    font-size: var(--fs-heading-primary);
    color: #fff;
    /* width: 40%; */
    /* width: 20rem; */
}

.reminder button {
    margin-top: 3rem;
}

.reminder__text {
    /* display: flex; */
    /* align-items: center; */
}

@media (min-width: 992px) {
    .reminder {
        text-align: left;
    }
    .reminder__text {
        display: flex;
        align-items: center; 
        justify-content: space-between;   
    }
    .reminder h2 {
        max-width: 60rem;
    }
    .reminder button {
        margin: 0;
    }
}

/* footer */

footer {
    background-color: var(--blue-900);
    color: #fff;
    text-align: center;
}

footer .btn--primary {
    box-shadow: none;
}

footer form {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.footer__input {
    font-size: inherit;
    padding: 1.4rem;
    border: none;
    border-radius: 10rem;
    color: var(--blue-900);
    margin-right: 2rem;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 2rem;
}

.footer__list li {
    flex-basis: 50%;
    /* align-self: center; */
    /* justify-self: center; */
    text-align: center;
    padding: 1rem 0;
}

.footer__logo {
    /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); */
}

/* media-queries */

@media (min-width: 768px) {
    .about {
        display: flex;
    }
}